/* Styles for the button grid container */
.button-grid {
    display: grid;
    grid-template-columns: repeat(
        2,
        1fr
    ); /* Adjust the number of columns as needed */
    gap: 10px; /* Adjust the gap between buttons as needed */
}

/* Styles for each button row */
.button-row {
    display: flex;
    justify-content: space-between;
}

/* Styles for the buttons */
.form-button {
    width: 100%; /* Ensure buttons take up the full width of their container */
    max-width: 220px; /* Adjust the maximum button width as needed */
    text-align: center;
    font-size: 15px; /* Adjust font size as needed */
    padding: 10px 15px;
    border: 1px solid #064367; /* Button border color */
    border-radius: 30px; /* Button border radius */
    color: #064367; /* Button text color */
    background-color: transparent; /* Button background color */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transition effects */

    /* Hover styles */
    &:hover {
        background-color: #064367; /* Hover background color */
        color: #fff; /* Hover text color */
        text-decoration: none;
    }
}
